{% from "components/atoms/teaser/teaser.njk" import teaser %}

{% call teaser() %}
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea magni eos ad blanditiis? Voluptatum vel reprehenderit, modi officiis mollitia accusantium atque, hic, quasi consequatur sequi praesentium? Totam doloribus, esse, hic nisi et, adipisci sequi tenetur possimus excepturi ratione numquam minima? Obcaecati maxime eveniet magni dignissimos iure consequuntur dolore deleniti quam!
{% endcall %}
