.container {
  @media (min-width: $breakpoint-layout) {
    display: grid;
    grid-template: 100vh / 16rem 1fr;
  }
}

.container__sidebar {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
  z-index: 1;

  background: var(--color-background-aside, $color-background-aside);

  &.is-expanded {
    transform: translateX(0);
  }

  @media (min-width: $breakpoint-layout) {
    position: static;
    width: auto;
    height: auto;
    transform: none;
  }
}

.container__main {
  display: grid;
  height: 100vh;
  grid-template-rows: min-content 1fr;
}
