.dark-mode {
  display: none;

  // Enable dark mode setting if custom properties are supported
  @supports (--a: 0) {
    display: block;
    margin: $padding;

    text-align: center;
  }
}

.dark-mode__input {
  position: absolute;
  appearance: none;
}

.dark-mode__label {
  display: inline-flex;
  align-items: center;

  cursor: pointer;
}

.dark-mode__toggle {
  position: relative;
  display: inline-block;
  margin: 0 0.5em;

  &::before,
  &::after {
    content: "";

    display: block;
  }

  &::before {
    width: 3em;
    height: 2em;

    background: var(--color-background, $color-background);
    border: 2px solid var(--color-border, $color-border);
    border-radius: 1em;
  }

  &::after {
    position: absolute;
    width: calc(2em - 4px);
    height: calc(2em - 4px);
    top: 2px;
    left: calc(50% - 1em + 2px);
    transform: translateX(-8px);

    background: var(--color-text, $color-text);
    border-radius: 50%;

    transition: transform 300ms;
  }

  .dark-mode__input:focus ~ .dark-mode__label &::before {
    box-shadow: 0 0 0 2px var(--color-text, $color-text);
  }

  .dark-mode__input:checked ~ .dark-mode__label &::after {
    transform: translateX(8px);
  }
}
