.docs {
  margin-bottom: $padding;
  padding: $padding $padding 0;
  overflow-y: auto;

  border-top: 2px solid var(--color-border, $color-border);

  > * {
    max-width: 35em;
  }

  > pre,
  > table {
    max-width: 100%;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  @media (min-width: $breakpoint-layout) {
    margin: 0 $padding $padding;
    padding: 0;
    border-top: 0;
  }
}

.docs--single {
  margin: 0;
  padding: $padding;

  border: 0;
}
