.title {
  display: flex;
  align-items: center;
  padding: ($padding / 2) $padding;

  color: #000;

  background: var(--color-theme, $color-theme);

  @media (min-width: $breakpoint-layout) {
    padding: $padding;
  }

  &.has-dark-background {
    color: #fff;
  }
}

.title__button {
  margin-right: 1rem;
  padding: 0 0.25rem;

  font-size: 1.5rem;
  color: var(--color-theme, $color-theme);

  border: 0;
  border-radius: 0.125rem;

  @media (min-width: $breakpoint-layout) {
    display: none;
  }
}

.title__heading {
  margin: 0;
}

.title__links {
  display: flex;
  margin-left: auto;
}

.title__link {
  margin-left: 0.5rem;

  font-size: 1.75rem;
  color: inherit;
}

.title__icon {
  display: block;
}
