.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;

  color: var(--color-title, $color-title);

  background: var(--color-theme, $color-theme);
}

.title__heading {
  margin: 0;
}

.title__links {
  display: flex;
}

.title__link {
  position: relative;
  margin-left: 0.5rem;

  font-size: 1.75rem;
  color: inherit;

  &::after {
    content: attr(aria-label);

    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(5px, -50%);
    padding: 0.125rem 0.25rem;

    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-theme, $color-theme);

    background: var(--color-background, $color-background);
    border-radius: 3px;

    opacity: 0;
    visibility: hidden;

    pointer-events: none;

    transition:
      transform 300ms,
      opacity 300ms,
      visibility 300ms;
  }

  &:hover::after,
  &:focus::after {
    transform: translate(0, -50%);

    opacity: 1;
    visibility: visible;
  }
}

.title__icon {
  display: block;
}
