.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;

  color: var(--color-title, $color-title);

  background: var(--color-theme, $color-theme);
}

.title__heading {
  margin: 0;
}

.title__link {
  display: inline-block;
  margin-left: 0.5rem;

  color: inherit;
}
