---
title: Page in a Subfolder
---
{{#extend "layouts/pages"}}
  {{#content "content"}}
    <h1>Page in a Subfolder</h1>

    <p>Maybe you want to create hierarchic directory tree?</p>
    <p>Just do it – with subfolders!</p>
    <p>Gulp takes care of everything else.</p>
  {{/content}}
{{/extend}}
