{% set title = "Headings" %}

{% extends sgSection %}

{% block body %}
  <h1>Heading Number 1</h1>
  <h2>Heading Number 2</h2>
  <h3>Heading Number 3</h3>
  <h4>Heading Number 4</h4>
  <h5>Heading Number 5</h5>
  <h6>Heading Number 6</h6>
{% endblock %}
