<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{file.meta.title}}</title>
    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="/css/sg.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/css/styles.splitted.css">
    <![endif]-->
  </head>
  <body>

    <!-- Styleguide Nav -->
    {{> "styleguide/nav"}}

    <header class="sg-header">
      <h1 class="sg-header__title">{{file.meta.title}}</h1>
      <p class="sg-header__description">{{file.meta.description}}</p>
    </header>

    <!-- Body -->
    <main class="sg-body">
      {{{block "content"}}}
    </main>

    <!-- Scripts -->
    <script src="/js/scripts.js"></script>
  </body>
</html>
