<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{file.meta.title}}</title>
    {{#if displayNav}}
    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="/css/sg.css">
    {{/if}}
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/css/styles.splitted.css">
    <![endif]-->
  </head>
  <body>

    <!-- Styleguide Nav -->
    {{> "styleguide/nav"}}

    <!-- Body -->
    {{{block "content"}}}

    <!-- Scripts -->
    <script src="/js/scripts.js"></script>
  </body>
</html>
