<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{file.meta.title}}</title>
    {{#if displayNav}}
    <!-- Docs Stylesheet -->
    <link rel="stylesheet" href="css/docs.css">
    {{/if}}
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <!-- Docs Nav -->
    {{> "styleguide/nav"}}

    <!-- Body -->
    {{{block "content"}}}

    <!-- Scripts -->
    <script src="js/script.js"></script>
  </body>
</html>
