<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    {% if process.env.FESG_ENV == 'build:dev' %}
      <link rel="stylesheet" href="css/main.css">
    {% endif %}
  </head>
  <body>
    {% block body %}{% endblock %}

    {% if process.env.FESG_ENV == 'build:dev' %}
      <script src="js/manifest.js"></script>
      <script src="js/vendor.js"></script>
    {% endif %}
    <script src="js/main.js"></script>
  </body>
</html>
