<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% endif %}
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}

    {{ fesg.head }}
  </head>
  <body>
    {{ fesg.sidebar }}
    {% block body %}{% endblock %}
  </body>
</html>
