<article class="sg-article">
  <header class="sg-article__header">
    {{#if title}}<h2 class="sg-article__title">{{title}}</h2>{{/if}}
    {{#if description}}<p class="sg-article__description">{{description}}</p>{{/if}}
  </header>

  <div class="sg-article__body{{#if background}} sg-article__body--bg{{/if}}"{{#if background}} style="background: {{background}}"{{/if}}>
    {{{block "body"}}}
  </div>
</article>
