<nav class="docs__nav" id="docs-nav">
  <button class="docs__nav__btn" id="docs-button">
    <span class="docs__nav__btn__icon"></span>
  </button>
  <ul class="docs__nav__list">
    <li><span class="docs__nav__title">Pages</span></li>
    <li><a href="" class="docs__nav__link"></a></li>

    <li><span class="docs__nav__title">Components</span></li>
    <li><a href="" class="docs__nav__link"></a></li>

    <li><span class="docs__nav__title">Settings</span></li>
    <li><a href="http://localhost:3001" class="docs__nav__link">BrowserSync</a></li>
  </ul>
</nav>

{{#each file.nav.root.siblings}}
  <a href="{{href}}">{{title}}</a>
{{/each}}


<script>
  var docsNavBtn  = document.getElementById('docs-button');
  var docsNav = document.getElementById('docs-nav');

  docsNavBtn.onclick = function() {
    docsNav.classList.toggle('js--docs__nav--open');
  };
</script>
