<nav class="sg-nav">
  <ul class="sg-nav__list">
    <li class="sg-nav__item">
      <button class="sg-nav__button">
        <span class="sg-nav__icon">&#x1F4C4;</span>
        <span class="sg-nav__text">Pages</span>
      </button>
      <ul class="sg-nav__sub-list">
        {{#each navItems.pages}}
        <li class="sg-nav__sub-item"><a href="/{{href}}" class="sg-nav__link">{{title}}</a></li>
        {{/each}}
      </ul>
    </li>

    <li class="sg-nav__item">
      <button class="sg-nav__button">
        <span class="sg-nav__icon">&#x1F3A8;</span>
        <span class="sg-nav__text">Components</span>
      </button>
      <ul class="sg-nav__sub-list">
        {{#each navItems.components}}
        <li class="sg-nav__sub-item"><a href="/{{href}}" class="sg-nav__link">{{title}}</a></li>
        {{/each}}
      </ul>
    </li>

    <li class="sg-nav__item">
      <button class="sg-nav__button">
        <span class="sg-nav__icon">&#x2699;</span>
        <span class="sg-nav__text">Settings</span>
      </button>
      <ul class="sg-nav__sub-list">
        <li class="sg-nav__sub-item"><a href="http://localhost:3001" class="sg-nav__link">BrowserSync</a></li>
      </ul>
    </li>
  </ul>

  <button class="sg-nav__hide-btn"></button>
</nav>


<script>
  var sgNav           = document.querySelector('.sg-nav');
  var sgNavHideBtn    = document.querySelector('.sg-nav__hide-btn');
  var sgNavBtn        = document.querySelectorAll('.sg-nav__button');
  var sgNavSubList    = document.querySelectorAll('.sg-nav__sub-list');
  var sgNavLastActive = null;

  sgNavHideBtn.onclick = function() {
    this.classList.toggle('sg-nav__hide-btn--active');
    sgNav.classList.toggle('sg-nav--hidden');

    for (var i = 0; i < sgNavBtn.length; i++) {
      sgNavBtn[i].classList.remove('sg-nav__button--active');
      sgNavSubList[i].classList.remove('sg-nav__sub-list--visible');

      sgNavLastActive = null;
    }
  };

  for (var i = 0; i < sgNavBtn.length; i++) {
    sgNavBtn[i].addEventListener('click', function(event) {
      event.preventDefault();

      for (var i = 0; i < sgNavBtn.length; i++) {
        sgNavBtn[i].classList.remove('sg-nav__button--active');
        sgNavSubList[i].classList.remove('sg-nav__sub-list--visible');
      }

      if (this === sgNavLastActive) {
        this.classList.remove('sg-nav__button--active');
        this.nextElementSibling.classList.remove('sg-nav__sub-list--visible');

        sgNavLastActive = null;
      } else {
        this.classList.add('sg-nav__button--active');
        this.nextElementSibling.classList.add('sg-nav__sub-list--visible');

        sgNavLastActive = this;
      }
    });
  }
</script>
