{% set title = "Available icons" %}
{% set padding = "none" %}

{% extends sgSection %}

{% block body %}
  <iframe src="{{ meta.path.toRoot }}img/icons.html" class="sg-iframe js-sg-iframe"></iframe>
{% endblock %}
