<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ file.meta.title }}</title>
    <!-- Docs Stylesheet -->
    <link rel="stylesheet" href="css/docs.css">
    <!-- Styleguide Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <!-- Docs Nav -->
    {{> "docs-nav"}}

    <!-- Docs Header -->
    <header class="docs__header">
      <h1 class="docs__title">{{ file.meta.title }}</h1>
      <p class="docs__description">{{ file.meta.description }}</p>
    </header>

    <!-- Component Body -->
    <main class="docs__body">
      {{{block "content"}}}
    </main>

    <!-- Styleguide Scripts -->
    <script src="js/script.js"></script>
  </body>
</html>
