{% from "components/atoms/teaser/teaser.njk" import teaser as teaser %}

<article class="article">
  <header class="article__header">
    <h3 class="article__title">Hello World</h3>
    <p class="article__author">Author: Dylan Moore</p>
  </header>
  {% call teaser() %}
    {% include "components/molecules/article/text.txt" %}
  {% endcall %}
</article>
