<article class="article article--large">
  <header class="article__header">
    <h3 class="article__title">Hello World</h3>
    <p class="article__author">Author: Jamel Grant</p>
  </header>
  <p class="article__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil autem dolor praesentium! Dicta quo sint non voluptas unde libero, magnam architecto commodi? Quas porro voluptas quos possimus sit nulla qui est corporis, tempore inventore impedit iusto corrupti modi deserunt rem fugiat, dicta, aut laboriosam! Fugit exercitationem accusantium velit quod facere commodi in veniam consequatur dolores quidem, sapiente at nisi ex quasi dolorum, ullam magnam nihil! In illo vel, reprehenderit asperiores dignissimos quaerat architecto voluptatem, nobis, commodi nisi animi reiciendis harum nemo consequatur iste earum consectetur quisquam distinctio quod totam corporis? Nesciunt blanditiis vitae quo est iusto at, labore ipsa molestias.</p>
</article>
