/* FRONT END STYLEGUIDE
 * for style guide driven development
 * ========================================================================== */

// Do not put style declarations in this main Sass file.
// Only @import styles or definitions from other files.
// =========================================================

// SETUP
// =========================================================

@import '../../../node_modules/normalize.css/normalize';
@import 'setup/variables';
@import 'setup/scaffolding';

// FUNCTIONS
// =========================================================

@import 'components/functions/svg-url';

// MIXINS
// =========================================================

@import 'components/mixins/sr-only';

// COMPONENTS
// =========================================================

@import 'components/embed-responsive/styles';
@import 'components/example/styles';
@import 'components/typography/styles';
@import 'components/utilities/styles';
