---
title: Example Component
layout: components
---

<h2>Create an HTML file for a component</h2>

<p>You can write your component in this file. But it is recommended to build elements as includes for greater reusability of your code.</p>

<p>Includes will be loaded from the <code>src/html/includes</code> folder:</p>
{{> example}}

<p>For better file organization you can add a namespace to your includes:</p>
{{> namespace.example}}
