<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.name }} | {{ project.name }}</title>

    {% if project.branding.favicon %}
    <link rel="shortcut icon" href="{% static project.branding.favicon %}">
    {% endif %}

    {% if websocket.port %}
    <script>var websocketPort = {{ websocket.port }}</script>
    {% endif %}

    <script defer src="{% static 'pangolin/scripts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pangolin/styles.css' %}">

    {% if project.branding -%}
    <style>
      :root {
        {% if project.branding.colorTheme %}
        --color-theme: {{ project.branding.colorTheme }};
        {% endif %}
        {% if project.branding.colorTitle %}
        --color-title: {{ project.branding.colorTitle }};
        {% endif %}
      }
    </style>
    {%- endif %}
  </head>
  <body>

    <div class="container">

      <aside
        class="container__sidebar js-sidebar"
        id="sidebar"
      >
        {% include "sidebar.njk" %}
      </aside>

      <main class="container__main">
        {% include "title.njk" %}
        {% block content %}{% endblock %}
      </main>

    </div>

  </body>
</html>
