<div class="dark-mode js-dark-mode">

  <input
    aria-label="Disable dark mode"
    class="dark-mode__input js-dark-mode-disable"
    id="dark-mode-disable"
    name="dark-mode"
    type="radio"
    value="disable"
  >

  <input
    aria-label="Enable dark mode"
    class="dark-mode__input js-dark-mode-enable"
    id="dark-mode-enable"
    name="dark-mode"
    type="radio"
    value="enable"
  >

  <label
    class="dark-mode__label dark-mode__label--left"
    for="dark-mode-disable"
  >
    Light
  </label>

  <span class="dark-mode__toggle"></span>

  <label
    class="dark-mode__label dark-mode__label--right"
    for="dark-mode-enable"
  >
    Dark
  </label>

</div>
