<div class="dark-mode">

  <input
    class="dark-mode__input js-dark-mode-input"
    id="dark-mode"
    name="dark-mode"
    type="checkbox"
  >

  <label
    class="dark-mode__label"
    for="dark-mode"
  >
    Light
    <span class="dark-mode__toggle"></span>
    Dark
  </label>

</div>
