{% macro link (path, text) %}
  <a
    {% if path == page.path %} aria-current="page"{% endif %}
    class="nav__text nav__text--link {% if path == page.path %}is-active js-nav-active{% endif %}"
    href="{% static path %}.html"
  >
    {{ text }}
  </a>
{% endmacro %}

{% macro nav (items, depth = 0) %}
  {% set depth = depth + 1 %}
  <ul class="nav__list">
    {% for item in items %}

      <li
        class="nav__item"
        style="--depth:{{ depth }};"
      >

        {% if item.path %}
          {{ link(item.path, item.name) }}
        {% endif %}

        {% set children = item.children %}

        {% if (children | length == 1) and children[0].path %}
          {{ link(children[0].path, children[0].name) }}
        {% elseif children %}
          <span class="nav__text nav__text--title">{{ item.name }}</span>
          {{ nav(children, depth) }}
        {% endif %}

      </li>

    {% endfor %}
  </ul>
{% endmacro %}

<nav
  aria-label="Pangolin Navigation"
  class="nav js-nav"
>
  {{ nav(components) }}
</nav>
