<div class="sidebar__header">
  <button
    aria-label="Close sidebar"
    class="sidebar__button js-sidebar-button"
  >
    <svg
      class="sidebar__icon icon"
      height="24"
      viewBox="0 0 24 24"
      width="24"
    >
      <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
    </svg>
  </button>

  <h2 class="sidebar__title">{{ project.name }}</h2>
</div>

{% include "nav.njk" %}
{% include "dark-mode.njk" %}
