<div class="title">

  <h1 class="title__heading">{{ page.name }}</h1>

  {% if page.preview or page.template %}
  <nav aria-label="">

    {% if page.preview %}
    <a
      class="title__link"
      href="{{ page.preview }}"
      target="_blank"
    >
      Preview
    </a>
    {% endif %}

    {% if page.template %}
    <a
      class="title__link"
      href="{{ page.template }}"
      target="_blank"
    >
      Template
    </a>
    {% endif %}

  </nav>
  {% endif %}

</div>
