<div class="title">

  <button
    aria-label="Open sidebar"
    class="title__button js-sidebar-button"
  >
    <svg
      class="title__icon icon"
      height="24"
      viewBox="0 0 24 24"
      width="24"
    >
      <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
    </svg>
  </button>

  <h1 class="title__heading">{{ page.name }}</h1>

  {% if page.preview or page.template %}
  <div class="title__links">

    {% if page.preview %}
    <a
      aria-label="Preview"
      class="title__link"
      href="{{ page.preview }}"
      target="_blank"
    >
      <svg
        class="title__icon icon"
        height="24"
        viewBox="0 0 24 24"
        width="24"
      >
        <path d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M6,20H15L18,20V12L14,16L12,14L6,20M8,9A2,2 0 0,0 6,11A2,2 0 0,0 8,13A2,2 0 0,0 10,11A2,2 0 0,0 8,9Z" />
      </svg>
    </a>
    {% endif %}

    {% if page.template %}
    <a
      aria-label="Template"
      class="title__link"
      href="{{ page.template }}"
      target="_blank"
    >
      <svg
        class="title__icon icon"
        height="24"
        viewBox="0 0 24 24"
        width="24"
      >
        <path d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M6.12,15.5L9.86,19.24L11.28,17.83L8.95,15.5L11.28,13.17L9.86,11.76L6.12,15.5M17.28,15.5L13.54,11.76L12.12,13.17L14.45,15.5L12.12,17.83L13.54,19.24L17.28,15.5Z" />
      </svg>
    </a>
    {% endif %}

  </div>
  {% endif %}

</div>
