<div class="title">

  <h1 class="title__heading">{{ page.name }}</h1>

  <nav aria-label="">

    <a
      class="title__link"
      href="{{ page.preview }}"
      target="_blank"
    >
      Preview
    </a>

    <a
      class="title__link"
      href="{{ page.template }}"
      target="_blank"
    >
      Template
    </a>

  </nav>

</div>
