<p>This is a partial file that was included. It has an image!</p>

<figure>
  <img src="{{page 'rel'}}img/StockSnap_V4PE8DPDR9.jpg" width="560" height="400" alt="Light beams throught trees in a forest">
  <figcaption>An awesome image from <a href="https://stocksnap.io/photo/V4PE8DPDR9">StockSnap.io</a>!</figcaption>
</figure>
