<ul>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, nisi?</li>
  <li>Nam iure obcaecati sint quia distinctio et earum possimus vero!</li>
  <li>Doloribus sed ipsum provident perspiciatis id ipsa nam quisquam rerum.</li>
  <li>Repudiandae non labore excepturi ratione dicta. Eaque corrupti minus alias.</li>
  <li>Aspernatur officiis iusto eos cumque perferendis sapiente, distinctio aliquid pariatur?</li>
</ul>

<ol>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, vero!</li>
  <li>Odio, vel? Facere consectetur quibusdam numquam adipisci, enim ipsum laudantium.</li>
  <li>Exercitationem sunt beatae alias illum atque hic? Suscipit, nulla consequatur.</li>
  <li>Praesentium beatae fuga labore dolorem voluptas iure aut nisi cumque!</li>
  <li>Aliquid, quidem molestiae. Expedita eveniet consequuntur nesciunt distinctio commodi quam.</li>
</ol>

<dl>
  <div>
    <dt>Lorem, ipsum dolor.</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio sed incidunt dolorum fugit alias nesciunt architecto aliquid pariatur beatae consequatur.</dd>
  </div>
  <div>
    <dt>Ex, eum veniam.</dt>
    <dd>Sapiente est deleniti ducimus sequi aspernatur. Magni, iste asperiores ducimus accusantium labore inventore optio, nulla consequuntur repellat sed ipsa. Expedita?</dd>
  </div>
  <div>
    <dt>Ipsam, laudantium sint.</dt>
    <dd>Facere dolor minima incidunt quo mollitia beatae praesentium hic similique, nam odit excepturi repudiandae dolorum earum, aliquam veritatis perferendis nobis.</dd>
  </div>
  <div>
    <dt>Aut, eos cum.</dt>
    <dd>Dolorum, laborum repellat, quis eveniet officia quisquam hic, consequuntur error voluptatem fuga voluptates nulla ullam cupiditate necessitatibus atque obcaecati rerum?</dd>
  </div>
  <div>
    <dt>Quas, vitae quam!</dt>
    <dd>Quas unde veniam eius saepe tempora placeat recusandae dolorum corporis aspernatur quam, impedit aliquam, cumque deleniti assumenda voluptas quae officia?</dd>
  </div>
</dl>
