{% set page = {
  title: "Front End Styleguide",
  description: "Pattern library framework for styleguide driven development with Sass, ES6+ and Nunjucks."
} %}

{% extends "../templates/prototypes.njk" %}

{% block body %}

  <main class="intro">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>

    <p>
      To find out more head over to the <a href="https://front-end-style.guide/">styleguide website</a>.
      The source code is available on <a href="https://github.com/front-end-styleguide/core" aria-label="Front End Styleguide source code">GitHub</a>.
    </p>

    <h2>Technology under the hood</h2>
    <ul>
      <li><a href="https://webpack.js.org/">webpack</a></li>
      <li><a href="https://expressjs.com/">Express</a></li>
      <li><a href="https://babeljs.io/">Babel</a></li>
      <li><a href="http://sass-lang.com/">Sass</a></li>
      <li><a href="https://mozilla.github.io/nunjucks/">Nunjucks</a></li>
    </ul>

    <h2>Linting</h2>
    <ul>
      <li><a href="https://eslint.org/">ESLint</a></li>
      <li><a href="https://stylelint.io/">stylelint</a></li>
      <li><a href="https://validator.w3.org/">W3C Validator</a></li>
    </ul>

    <h2>Testing</h2>
    <ul>
      <li><a href="https://github.com/avajs/ava">AVA</a></li>
      <li><a href="https://devexpress.github.io/testcafe/">TestCafe</a></li>
    </ul>
  </main>

{% endblock %}
