.fesg-footer {
  @include fesg-reset;

  background: $fesg-color-footer-background;
  background: var(--fesg-color-footer-background, var(--fesg-color-background, $fesg-color-footer-background));
  border-top: 0.125rem solid;
  border-top-color: $fesg-color-footer-border;
  border-top-color: var(--fesg-color-footer-border, var(--fesg-color-border, $fesg-color-footer-border));
}

.fesg-footer__inner {
  @include fesg-reset;
  @include fesg-content;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.fesg-footer__credit {
  @include fesg-reset;

  font-size: 0.875rem;
  text-align: center;
  color: $fesg-color-footer-text;
  color: var(--fesg-color-footer-text, var(--fesg-color-text, $fesg-color-footer-text));

  a {
    color: inherit;
  }
}
