.pangolin-footer {
  @include pangolin-reset;

  background: $pangolin-color-footer-background;
  background: var(--pangolin-color-footer-background, var(--pangolin-color-background, $pangolin-color-footer-background));
  border-top: 0.125rem solid;
  border-top-color: $pangolin-color-footer-border;
  border-top-color: var(--pangolin-color-footer-border, var(--pangolin-color-border, $pangolin-color-footer-border));
}

.pangolin-footer__inner {
  @include pangolin-reset;
  @include pangolin-content;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pangolin-footer__credit {
  @include pangolin-reset;

  font-size: 0.875rem;
  text-align: center;
  color: $pangolin-color-footer-text;
  color: var(--pangolin-color-footer-text, var(--pangolin-color-text, $pangolin-color-footer-text));

  a {
    color: inherit;
  }
}
