.fesg-header {
  @include fesg-reset;
  @include fesg-content;
  @include fesg-margin(3);

  padding-top: 2rem;
  padding-bottom: 2rem;

  color: $fesg-color-header-text;
  color: var(--fesg-color-header-text, var(--fesg-color-text, $fesg-color-header-text));

  background: $fesg-color-header-background;
  background: var(--fesg-color-header-background, var(--fesg-color-background, $fesg-color-header-background));
  border-bottom: 0.125rem solid;
  border-bottom-color: $fesg-color-header-border;
  border-bottom-color: var(--fesg-color-header-border, var(--fesg-color-border, $fesg-color-header-border));
}

.fesg-header__title {
  @include fesg-reset;
  @include fesg-fluid-type(1.5rem, 3.5rem);

  margin-bottom: 0.25em;

  font-weight: 600;
}

.fesg-header__description {
  @include fesg-reset;
  @include fesg-fluid-type(1rem, 1.25rem);
}
