.pangolin-header {
  @include pangolin-reset;
  @include pangolin-content;
  @include pangolin-margin(3);

  padding-top: 2rem;
  padding-bottom: 2rem;

  background: $pangolin-color-header-background;
  background: var(--pangolin-color-header-background, var(--pangolin-color-background, $pangolin-color-header-background));
  border-bottom: 0.125rem solid;
  border-bottom-color: $pangolin-color-header-border;
  border-bottom-color: var(--pangolin-color-header-border, var(--pangolin-color-border, $pangolin-color-header-border));
}

.pangolin-header__title {
  @include pangolin-reset;
  @include pangolin-fluid-type(1.5rem, 3.5rem);

  margin-bottom: 0.25em;

  font-weight: 600;
  color: $pangolin-color-header-text;
  color: var(--pangolin-color-header-text, var(--pangolin-color-text, $pangolin-color-header-text));
}

.pangolin-header__description {
  @include pangolin-reset;
  @include pangolin-fluid-type(1rem, 1.25rem);

  color: $pangolin-color-header-text;
  color: var(--pangolin-color-header-text, var(--pangolin-color-text, $pangolin-color-header-text));
}
