.fesg-content {
  @include fesg-reset-pseudo;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
  box-sizing: border-box;

  @media (min-width: $fesg-breakpoint-sidebar) {
    margin-left: $fesg-sidebar-width;

    &.is-expanded {
      margin-left: 0;
    }

    &.is-animated {
      transition: margin-left $fesg-transition-sidebar;
    }
  }
}

.fesg-main {
  @include fesg-reset-pseudo;
  @include fesg-content;
}
