.pangolin-sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pangolin-content {
  @include pangolin-reset-pseudo;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (min-width: $pangolin-breakpoint-sidebar) {
    margin-left: $pangolin-sidebar-width;

    &.is-expanded {
      margin-left: 0;
    }

    &.is-animated {
      transition: margin-left $pangolin-transition-sidebar;
    }
  }
}

.pangolin-main {
  @include pangolin-reset-pseudo;
  @include pangolin-content;

  flex-grow: 1;
}
