.fesg-section {
  @include fesg-margin(3);
}

.fesg-section__header {
  @include fesg-reset;

  margin-bottom: 1rem;

  color: $fesg-color-section-text;
  color: var(--fesg-color-section-text, var(--fesg-color-text, $fesg-color-section-text));
}

.fesg-section__title {
  @include fesg-reset;
  @include fesg-fluid-type(1.25rem, 1.75rem);

  margin-bottom: 0.25em;

  font-weight: 600;
}

.fesg-section__description {
  @include fesg-reset;
}

.fesg-section__content {
  padding: 1rem;

  background: $fesg-color-section-background;
  background: var(--fesg-color-section-background, var(--fesg-color-background, $fesg-color-section-background));
  border: 0.0625rem solid;
  border-color: $fesg-color-section-border;
  border-color: var(--fesg-color-section-border, var(--fesg-color-border, $fesg-color-section-border));

  @media (min-width: $fesg-breakpoint-min) {
    padding: 2rem;
  }
}
