.pangolin-section {
  @include pangolin-margin(3);
}

.pangolin-section__header {
  @include pangolin-reset;

  margin-bottom: 1rem;
}

.pangolin-section__title {
  @include pangolin-reset;
  @include pangolin-fluid-type(1.25rem, 1.75rem);

  position: relative;
  margin-bottom: 0.25em;

  font-weight: 600;
  color: $pangolin-color-section-text;
  color: var(--pangolin-color-section-text, var(--pangolin-color-text, $pangolin-color-section-text));
}

.pangolin-section__title-link {
  @include pangolin-reset;

  display: block;
  position: absolute;
  bottom: 0.25em;
  left: -1.2em;

  font-size: 1em;

  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.pangolin-section__title-icon {
  display: block;
  width: 0.8em;
  height: 0.8em;

  fill: currentColor;
}

.pangolin-section__description {
  @include pangolin-reset;

  color: $pangolin-color-section-text;
  color: var(--pangolin-color-section-text, var(--pangolin-color-text, $pangolin-color-section-text));
}

.pangolin-section__content {
  padding: 1rem;

  border: 0.0625rem solid;
  border-color: $pangolin-color-section-border;
  border-color: var(--pangolin-color-section-border, var(--pangolin-color-border, $pangolin-color-section-border));

  @media (min-width: $pangolin-breakpoint-min) {
    padding: 2rem;
  }
}

.pangolin-section__switch {
  @include pangolin-reset;

  margin-top: 1rem;
}

.pangolin-section__switch-header {
  display: flex;
}

.pangolin-section__switch-button {
  @include pangolin-reset;

  position: relative;
  margin-bottom: -0.0625rem;
  padding: 0.5rem 0.75rem;
  z-index: 2;

  color: $pangolin-color-section-button;
  color: var(--pangolin-color-section-button, $pangolin-color-section-button);

  border: 0.0625rem solid;
  border-color: $pangolin-color-section-border;
  border-color: var(--pangolin-color-section-border, var(--pangolin-color-border, $pangolin-color-section-border));
  border-radius: 0;

  cursor: pointer;

  &:not(:last-child) {
    border-right: none;
  }

  &.is-expanded {
    background: $pangolin-color-section-background;
    background: var(--pangolin-color-section-background, var(--pangolin-color-background, $pangolin-color-section-background));
    border-bottom-color: transparent;
  }
}

.pangolin-section__switch-panel {
  @include pangolin-reset;

  display: none;
  position: relative;
  z-index: 1;

  overflow: hidden;

  font-size: 1rem;
  line-height: 1.4;
  color: $pangolin-color-section-text;
  color: var(--pangolin-color-section-text, var(--pangolin-color-text, $pangolin-color-section-text));

  background: $pangolin-color-section-background;
  background: var(--pangolin-color-section-background, var(--pangolin-color-background, $pangolin-color-section-background));
  border: 0.0625rem solid;
  border-color: $pangolin-color-section-border;
  border-color: var(--pangolin-color-section-border, var(--pangolin-color-border, $pangolin-color-section-border));

  &.is-expanded {
    display: block;
  }

  p {
    margin: 0 0 1em;
  }

  ul,
  ol {
    margin: 0 0 1em;
    padding-left: 1.5em;
  }

  code {
    font-size: 0.875em;
  }
}

.pangolin-section__switch-scroll {
  max-height: 20em;
  padding: 1rem 0.75rem;

  overflow: auto;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.pangolin-section__switch-code-copy {
  @include pangolin-reset;

  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 0.75rem;

  color: $pangolin-color-section-button;
  color: var(--pangolin-color-section-button, $pangolin-color-section-button);

  background: $pangolin-color-section-background;
  background: var(--pangolin-color-section-background, var(--pangolin-color-background, $pangolin-color-section-background));
  border: 0.0625rem solid;
  border-top: none;
  border-right: none;
  border-color: $pangolin-color-section-border;
  border-color: var(--pangolin-color-section-border, var(--pangolin-color-border, $pangolin-color-section-border));
  border-radius: 0;

  cursor: pointer;

  &.is-active {
    color: $pangolin-color-sidebar-button-foreground;
    color: var(--pangolin-color-sidebar-button-foreground, $pangolin-color-sidebar-button-foreground);

    background: $pangolin-color-sidebar-button-background;
    background: var(--pangolin-color-sidebar-button-background, var(--pangolin-color-primary, $pangolin-color-sidebar-button-background));
  }
}

.pangolin-section__switch-pre {
  margin: 0;
  white-space: pre;
}

.pangolin-section__switch-code {
  white-space: pre;
}
