/* ARTICLE
 * ========================================================================== */

.sg-article {
  display: block;
  margin: 0 0 2rem;

  &::before,
  &::after {
    display: none !important;
  }

  @media (min-width: $screen-xs) {
    margin-bottom: 0 0 3rem;
  }
}

.sg-article__header {
  all: initial;

  display: block;
  padding: 0 1rem 1rem;

  &::before,
  &::after {
    display: none !important;
  }

  @media (min-width: $screen-xs) {
    padding: 0 2rem 2rem;
  }
}

.sg-article__title {
  all: initial;

  @include viewport-font-size(1.25rem, 1.5rem);

  display: block;
  margin: 0 0 0.5em;
  padding: 3rem 0 0;

  font-family: $font-stack !important;
  font-weight: 300;
  color: $color-primary;

  &::before,
  &::after {
    display: none !important;
  }

  @media (min-width: $screen-xs) {
    position: relative;
    padding: 4rem 0 0;
  }
}

.sg-article__title-id-link {
  all: initial;

  vertical-align: top;

  font-size: 0.8em;
  font-family: $font-stack;
  text-decoration: none;
  color: $color-secondary;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  &:focus {
    @include focus;
  }

  @media (min-width: $screen-xs) {
    position: absolute;
    left: -1em;
  }
}

.sg-article__description {
  all: initial;

  @include viewport-font-size(0.875rem, 1rem);

  display: block;
  margin: 0 0 0.625em;
  padding: 0;

  font-family: $font-stack !important;
  font-weight: 400;
  color: $color-secondary;

  &::before,
  &::after {
    display: none !important;
  }
}

.sg-article__body {
  display: block;
  margin: 0;
  padding: 1rem;

  outline: 0.0625rem solid rgba($color-background, 0.3);

  &::before,
  &::after {
    content: '';

    display: table;
    margin: 0;
    padding: 0;
    height: 0;

    clear: both;
  }

  @media (min-width: $screen-xs) {
    padding: 2rem;
  }
}

.sg-article__body--bg {
  outline: none;
}

.sg-article__body--padding-none {
  padding: 0;
}
