/* FOOTER
 * ========================================================================== */

.sg-footer {
  all: initial;

  display: block;
  box-sizing: border-box;
  max-width: $screen-lg;
  margin: 0 auto;
  padding: 2rem;

  text-align: center;

  &::before,
  &::after {
    display: none !important;
  }

  @media (min-width: $screen-xs) {
    padding: 3rem;
  }
}

.sg-footer__logo {
  display: inline-block;
  margin-bottom: 0.5rem;

  svg {
    max-width: 100%;
    height: auto;
  }
}

.sg-footer__info {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 0.8rem;
  font-family: $font-stack;
  text-align: center;
  color: $color-secondary;

  a {
    color: currentColor;
  }
}
