/* HEADER
 * ========================================================================== */

.sg-header {
  all: initial;

  display: block;
  box-sizing: border-box;
  max-width: $screen-lg;
  margin: 2rem auto;
  padding: 1rem;

  border-bottom: 0.0625rem solid rgba($color-background, 0.3);

  &::before,
  &::after {
    display: none !important;
  }

  @media (min-width: $screen-xs) {
    margin: 3rem auto;
    padding: 2rem;
  }
}

.sg-header__title {
  all: initial;

  @include viewport-font-size(1.5rem, 3rem);

  display: block;
  margin: 0;

  font-family: $font-stack !important;
  font-weight: 300;
  color: $color-primary;

  &::before,
  &::after {
    display: none !important;
  }
}
