// VIEWPORT FONT SIZE
// =========================================================

@mixin viewport-font-size($font-size-min, $font-size-max) {
  $factor:  strip-unit($font-size-max - $font-size-min);
  $divisor: strip-unit($screen-lg - $screen-xs);

  font-size: $font-size-min;

  @media (min-width: $screen-xs) {
    font-size: calc(#{$font-size-min} + #{$factor} * (100vw - #{$screen-xs}) / #{$divisor});
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size-max;
  }
}

// STRIP-UNIT
//
// Strips unit from numbers
//
// Source:
// https://css-tricks.com/snippets/sass/strip-unit-function/
// =============================================================================

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// FOCUS
// =========================================================

@mixin focus {
  outline: 0.125rem solid $color-primary;
  outline-offset: 0.0625rem;
}
