/* SCAFFOLDING
 * ========================================================================== */

.sg-background {
  background-image: none;
  background-color: #fff;
}

.sg-iframe {
  all: initial;

  display: block;
  width: 100%;

  border: none;

  &::before,
  &::after {
    display: none !important;
  }
}
