.pangolin-sidebar {
  @include pangolin-reset;

  position: fixed;
  top: 0;
  left: 0;
  width: $pangolin-sidebar-width;
  height: 100%;
  padding: $pangolin-sidebar-padding 0;
  transform: translateX(-100%);

  z-index: $pangolin-z-index-sidebar;

  background: $pangolin-color-sidebar-background;
  background: var(--pangolin-color-sidebar-background, $pangolin-color-sidebar-background);
  border-right: 0.125rem solid;
  border-right-color: $pangolin-color-sidebar-border;
  border-right-color: var(--pangolin-color-sidebar-border, var(--pangolin-color-border, $pangolin-color-sidebar-border));

  overflow-y: auto;

  &.is-open {
    transform: translateX(0);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  }

  &.is-animated {
    transition: transform $pangolin-transition-sidebar;
  }

  @media (min-width: $pangolin-breakpoint-sidebar) {
    &.is-open {
      box-shadow: none;
    }
  }
}

.pangolin-sidebar__form {
  @include pangolin-reset;

  position: relative;
  margin: 0 $pangolin-sidebar-padding;
}

.pangolin-sidebar__search {
  @include pangolin-reset;

  display: block;
  width: 100%;
  padding: ($pangolin-sidebar-padding / 1.5) ($pangolin-sidebar-padding + 1.5rem) ($pangolin-sidebar-padding / 1.5) $pangolin-sidebar-padding;

  border: 0.0625rem solid;
  border-color: $pangolin-color-sidebar-border;
  border-color: var(--pangolin-color-sidebar-border, var(--pangolin-color-border, $pangolin-color-sidebar-border));
}

.pangolin-sidebar__search-reset {
  @include pangolin-reset;

  display: none;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 50%;
  right: ($pangolin-sidebar-padding / 1.5);

  transform: translateY(-50%);

  border: 0.0625rem solid;
  border-color: $pangolin-color-sidebar-button-background;
  border-color: var(--pangolin-color-sidebar-button-background, var(--pangolin-color-primary, $pangolin-color-sidebar-button-background));
  border-radius: 50%;

  cursor: pointer;

  &.is-visible {
    display: block;
  }

  &::before,
  &::after {
    content: "";

    display: block;
    position: absolute;
    width: 80%;
    height: 0.0625rem;
    top: 50%;
    left: 50%;

    background: $pangolin-color-sidebar-button-background;
    background: var(--pangolin-color-sidebar-button-background, var(--pangolin-color-primary, $pangolin-color-sidebar-button-background));
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.pangolin-sidebar__section {
  @include pangolin-reset;

  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.pangolin-sidebar__title,
.pangolin-sidebar__heading {
  @include pangolin-reset;

  margin: 0 $pangolin-sidebar-padding 0.5rem;

  font-size: 1rem;
  font-weight: 600;
  color: $pangolin-color-sidebar-text;
  color: var(--pangolin-color-sidebar-text, var(--pangolin-color-text, $pangolin-color-sidebar-text));
}

.pangolin-sidebar__heading--title {
  font-size: 1.25rem;
}

.pangolin-sidebar__list {
  @include pangolin-reset;

  list-style: none;
}

.pangolin-sidebar__item {
  @include pangolin-reset;
}

.pangolin-sidebar__item--empty {
  padding: 0.5rem $pangolin-sidebar-padding;
}

.pangolin-sidebar__link {
  @include pangolin-reset;

  display: block;
  padding: 0.5rem $pangolin-sidebar-padding;

  font-size: 1rem;
  text-decoration: none;
  color: $pangolin-color-sidebar-text;
  color: var(--pangolin-color-sidebar-text, var(--pangolin-color-text, $pangolin-color-sidebar-text));

  &:hover,
  &:focus,
  &.is-active {
    color: $pangolin-color-sidebar-highlight-text;
    color: var(--pangolin-color-sidebar-highlight-text, var(--pangolin-color-text, $pangolin-color-sidebar-highlight-text));

    background: $pangolin-color-sidebar-highlight-background;
    background: var(--pangolin-color-sidebar-highlight-background, var(--pangolin-color-background, $pangolin-color-sidebar-highlight-background));
  }

  &.is-active {
    padding-left: ($pangolin-sidebar-padding - 0.25rem);

    border-left: 0.25rem solid;
    border-left-color: $pangolin-color-sidebar-highlight-border;
    border-left-color: var(--pangolin-color-sidebar-highlight-border, var(--pangolin-color-primary, $pangolin-color-sidebar-highlight-border));
  }
}
