// Colors
$pangolin-color-primary: #1d5097;
$pangolin-color-text: #222;
$pangolin-color-border: #ddd;
$pangolin-color-background: #f2f4f7;

$pangolin-color-sidebar-text: $pangolin-color-text;
$pangolin-color-sidebar-highlight-text: $pangolin-color-text;
$pangolin-color-sidebar-highlight-background: $pangolin-color-background;
$pangolin-color-sidebar-highlight-border: $pangolin-color-primary;
$pangolin-color-sidebar-background: #fff;
$pangolin-color-sidebar-border: $pangolin-color-border;
$pangolin-color-sidebar-button-foreground: #fff;
$pangolin-color-sidebar-button-background: $pangolin-color-primary;

$pangolin-color-header-text: $pangolin-color-text;
$pangolin-color-header-background: $pangolin-color-background;
$pangolin-color-header-border: $pangolin-color-border;

$pangolin-color-section-text: $pangolin-color-text;
$pangolin-color-section-button: $pangolin-color-text;
$pangolin-color-section-background: $pangolin-color-background;
$pangolin-color-section-border: $pangolin-color-border;

$pangolin-color-footer-text: $pangolin-color-text;
$pangolin-color-footer-background: $pangolin-color-background;
$pangolin-color-footer-border: $pangolin-color-border;

// Spacing
$pangolin-spacing: 2vw;

// Sidebar
$pangolin-sidebar-width: 14rem;
$pangolin-sidebar-padding: 0.75rem;

// Breakpoints
$pangolin-breakpoint-sidebar: ($pangolin-sidebar-width * 5);
$pangolin-breakpoint-min: 30rem;
$pangolin-breakpoint-max: 90rem;

// Z-Indexes
$pangolin-z-index-sidebar: 1000;

// Transition times
$pangolin-transition-sidebar: 0.3s;
