---
title: Frontpage
---
{{#extend "layouts/pages"}}
{{#content "body"}}
  <h1>This is your Frontpage</h1>

  <p>It's the first page (index.html) the visitor of your site will see.</p>
  <p>Use the 'pages'-directory to create prototypes of the final web site.</p>
  <p>Ideally these pages will be built with resusable components from the 'includes'-folder.</p>

  <h2>Image Placeholder</h2>
  <p>Use services like <a href="http://placehold.it/">Placehold.it</a> for image placeholders.</p>
  <img src="http://placehold.it/350x150" alt="Placeholder">

  <h2>SVG Icons</h2>
  <svg><use xlink:href="{{rel}}img/icons.svg#menu"></use></svg>
{{/content}}
{{/extend}}
