<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.title %}
    <title>{{ page.title }}</title>
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}

    {{ pangolin.head }}

    {% block head %}{% endblock %}
  </head>
  <body class="pangolin-body">
    {% if process.env.PANGOLIN_ENV == 'dev' or process.env.PANGOLIN_ENV == 'build:dev' %}
    {{ pangolin.sidebar }}
    {% endif %}

    <div class="pangolin-content js-pangolin-content">

      {% if page.title or page.description %}
      <header class="pangolin-header">

        {% if page.title %}
        <h1 class="pangolin-header__title">{{ page.title }}</h1>
        {% endif %}

        {% if page.description %}
        <p class="pangolin-header__description">{{ page.description }}</p>
        {% endif %}

      </header>
      {% endif %}

      <main class="pangolin-main">
        {% block body %}{% endblock %}
      </main>

      {{ pangolin.footer }}
    </div>
  </body>
</html>
