{# Link to vendors JS and CSS during build #}
{% if r/^build:/.test(process.env.PANGOLIN_ENV) %}
<script defer src="{{ 'js/vendors.js' | relative }}"></script>
<link rel="stylesheet" href="{{ 'css/main.css' | relative }}">
{% endif %}

{# Link to Pangolin JS and CSS during dev #}
{% if r/dev$/.test(process.env.PANGOLIN_ENV) %}
<script defer src="{{ 'pangolin/scripts.js' | relative }}"></script>
<link rel="stylesheet" href="{{ 'pangolin/styles.css' | relative }}">
{% endif %}

<script defer src="{{ 'js/main.js' | relative }}"></script>
