<section class="pangolin-preview">

  <header class="pangolin-preview__header">
    <h1 class="pangolin-preview__title">{{ page.name }}</h1>
  </header>

  <iframe
    class="pangolin-preview__iframe"
    src="{{ page.preview }}"
  ></iframe>

</section>
