{% set background_style = ' style="background: ' + background + '"' if background %}
{% set width_style = ' style="width: ' + width + '"' if width %}

<section class="fesg-section">

  {% if title or description %}
    <header class="fesg-section__header">
      {% if title %}
        <h2 class="fesg-section__title">{{ title }}</h2>
      {% endif %}
      {% if description %}
        <p class="fesg-section__description">{{ description }}</p>
      {% endif %}
    </header>
  {% endif %}

  <div class="fesg-section__content"{{ background_style | safe }}>
    <div class="fesg-section__body"{{ width_style | safe }}>
      {{ body }}
    </div>
  </div>

</section>
