<button
  class="pangolin-sidebar-toggle js-pangolin-sidebar-toggle"
  aria-controls="pangolin-sidebar"
  aria-label="Open Pangolin sidebar">
  <span class="pangolin-sidebar-toggle__line"></span>
  <span class="pangolin-sidebar-toggle__line"></span>
  <span class="pangolin-sidebar-toggle__line"></span>
</button>

<aside id="pangolin-sidebar" class="pangolin-sidebar js-pangolin-sidebar" aria-hidden="true">
  <nav class="pangolin-sidebar__nav">

    <section class="pangolin-sidebar__section">
      <h2 class="pangolin-sidebar__heading pangolin-sidebar__heading--title">Pangolin</h2>
      <form class="pangolin-sidebar__form js-pangolin-sidebar-form" autocomplete="off">
        <label for="pangolin-sidebar-search" class="pangolin-sr-only">Search Components and Prototypes</label>
        <input
          type="search"
          id="pangolin-sidebar-search"
          class="pangolin-sidebar__search js-pangolin-sidebar-search"
          placeholder="Search">
        <button class="pangolin-sidebar__search-reset js-pangolin-sidebar-search-reset">
          <span class="pangolin-sr-only">Reset Search</span>
        </button>
      </form>
    </section>

    <section class="pangolin-sidebar__section">
      <h3 class="pangolin-sidebar__heading">Components</h3>
      <ul class="pangolin-sidebar__list js-pangolin-sidebar-components">
        {% for component in components %}
        <li class="pangolin-sidebar__item">
          <a
            class="pangolin-sidebar__link {{ 'is-active' if component.active }}"
            href="{{ component.url | relative }}">
            {{ component.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section class="pangolin-sidebar__section">
      <h3 class="pangolin-sidebar__heading">Prototypes</h3>
      <ul class="pangolin-sidebar__list js-pangolin-sidebar-prototypes">
        {% for prototype in prototypes %}
        <li class="pangolin-sidebar__item">
          <a
            class="pangolin-sidebar__link {{ 'is-active' if prototype.active }}"
            href="{{ prototype.url | relative }}">
            {{ prototype.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>

  </nav>
</aside>

<script class="js-pangolin-sidebar-page-data" type="application/json">
[
  {% for page in components %}
  {
    "type": "component",
    "name": "{{ page.name }}",
    "url": "{{ page.url | relative }}",
    "active": {{ "true" if page.active else "false" }}
  },
  {% endfor %}
  {% for page in prototypes %}
  {
    "type": "prototype",
    "name": "{{ page.name }}",
    "url": "{{ page.url | relative }}",
    "active": {{ "true" if page.active else "false" }}
  }{{ "," if not loop.last }}
  {% endfor %}
]
</script>
