<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ _target.title }} | {{ _config.project.title }}</title>

    {% pangolin_head %}
  </head>
  <body>
    {{ yield | safe }}
  </body>
</html>
