// SCREENREADER ONLY TEXT
//
// Visually hides element but keeps text readable for screen readers.
//
// Source:
// https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
// =============================================================================



@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

/**
 * Use in conjunction with `sr-only` to display content when
 * it's focused. Useful for "Skip to main content" links.
 *
 * Source:
 * https://github.com/h5bp/html5-boilerplate
 */

@mixin sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
    overflow: visible;
  }
}
