// CSS IMAGE REPLACEMENT
//
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
// =============================================================================

@mixin text-hide() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
