<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.name }} | Preview | {{ project.name }}</title>

    {% block pangolin_head %}{% endblock %}
  </head>
  <body>
    <p>The Blog template</p>
    {% block pangolin_body %}{% endblock %}
  </body>
</html>
