{% set page = {
  title: "Hello",
  description: "First we have to greet the world!"
} %}

{% import "./templates.njk" as hello %}

{% extends pangolin.components %}

{% block body %}

  {% section title="Default", description="A nice greeting" %}
    {{ hello.default("World") }}
  {% usage %}
    This doesn't really do anything other than
    * print `Hello World` and
    * that's pretty much it…

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam amet odio perspiciatis enim minus iure, nemo omnis laudantium ullam veniam ducimus voluptatem facere magni. Odio illum fugiat ratione voluptate deleniti, modi aperiam! Nemo saepe dolorem voluptatem voluptatibus tempore neque ex ea enim, provident culpa ipsa, numquam harum deserunt illo molestiae maiores ducimus atque non nobis odit iure minus? Culpa recusandae amet dolor laborum voluptates reiciendis, unde molestiae magni similique? Minus accusamus aperiam officia blanditiis esse! Minus esse ipsam, aspernatur cupiditate omnis alias pariatur animi nihil eum reiciendis aut eligendi maiores fugit est consequuntur cum, asperiores quos incidunt iure ea qui.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maxime, ut, eum amet doloribus quidem laborum optio quibusdam quisquam nihil ea debitis nesciunt impedit accusamus maiores sunt quae distinctio? Quae eius fuga facilis veritatis. Voluptate quam impedit consequuntur blanditiis sit velit non vel, dicta natus voluptatum provident suscipit, ad libero unde nisi quidem pariatur. Cum perferendis quibusdam, quasi provident optio corrupti necessitatibus quis debitis est rem nobis consequatur esse cumque doloremque soluta? Asperiores, adipisci excepturi quasi et incidunt quos suscipit officia unde dolor? Totam sint minima ad rerum enim, fugit iure pariatur beatae unde eius cumque quis in explicabo neque.

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis natus enim consequatur reprehenderit sed assumenda porro cupiditate perferendis, laudantium sint soluta minus aliquid aperiam consequuntur quos temporibus quasi ullam quam quas illo delectus voluptas aut! Ab quae laboriosam velit. Eaque minima laboriosam, numquam, architecto quisquam nisi vero voluptatem aperiam officiis suscipit non ipsam minus magni beatae officia a? Autem esse obcaecati fuga blanditiis nulla delectus aut ea tenetur, temporibus commodi hic, repudiandae porro. Laudantium esse perspiciatis nisi dicta. Aliquid, animi? Quidem praesentium rerum quod aperiam sequi culpa quam ipsam alias! Sequi, illum sit magnam ducimus ipsum accusantium repellendus dolorum reprehenderit.
  {% code %}
    {{ hello.default("World") }}
  {% endsection %}

  {% section title="Slightly longer", description="Let's add a bit more verbosity…" %}
    {{ hello.longform("World") }}
  {% code %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequatur nam hic, quod veritatis maxime exercitationem! Eligendi quod, cupiditate temporibus eaque quia dolor debitis rerum repudiandae maxime rem veniam voluptatem vitae alias a iste amet ut ab dolorum natus ipsam.</p>

    <ul>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>

    <ol>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ol>
  {% endsection %}

{% endblock %}
