/* STYLEGUIDE CSS
 *
 * Styles specific to the Styleguide navigation and
 * components title and containers.
 * ========================================================================== */

/* stylelint-disable declaration-no-important */

// VIEWPORT FONT SIZE
// =========================================================

@mixin viewport-font-size($font-size-min, $font-size-max) {
  $factor:  strip-unit($font-size-max - $font-size-min);
  $divisor: strip-unit($screen-lg - $screen-xs);

  font-size: $font-size-min;

  @media (min-width: $screen-xs) {
    font-size: calc(#{$font-size-min} + #{$factor} * (100vw - #{$screen-xs}) / #{$divisor});
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size-max;
  }
}

// STRIP-UNIT
//
// Strips unit from numbers
//
// Source:
// https://css-tricks.com/snippets/sass/strip-unit-function/
// =============================================================================

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// VARIABLES
// =========================================================

// Breakpoints
$screen-xs:  36rem; // 576px
$screen-lg:  85rem; // 1360px

// Heights
$height-nav: 2rem; // 32px

// Colors
$color-primary: rgb(0, 120, 255) !default;
$color-secondary: rgb(50, 50, 50) !default;
$color-text: rgb(255, 255, 255) !default;
$color-background: rgb(50, 50, 50) !default;

// System Font Stack
$font-stack: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;

/* STYLEGUIDE BACKGROUND
 * ====================================================== */

.sg-background {
  background-image: none;
  background-color: #fff;
}

/* STYLEGUIDE NAVIGATION
 * ====================================================== */

.sg-nav {
  display: block;
  position: static;
  box-sizing: border-box;
  height: $height-nav;
  margin: 0;
  padding: 0;

  &.is-hidden {
    height: 0;
  }

  &::before,
  &::after {
    display: none !important;
  }

  code {
    display: inline;
    margin: 0;
    padding: 0 0.2em;

    font-size: 1em;
    // This is a fix for some browser oddity
    // stylelint-disable-next-line font-family-no-duplicate-names
    font-family: monospace, monospace;
    color: $color-text;

    background: $color-primary;
  }
}

.sg-nav__list {
  all: initial;

  display: flex;
  position: fixed;
  z-index: 10000;
  height: $height-nav;
  top: 0;
  right: $height-nav;
  left: 0;
  margin: 0;
  padding: 0;

  background-color: $color-background;

  will-change: transform;

  .is-hidden & {
    display: none;
  }

  &::before,
  &::after {
    display: none !important;
  }
}

.sg-nav__item {
  all: initial;

  display: block !important;
  height: $height-nav;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &::before,
  &::after {
    display: none !important;
  }
}

.sg-nav__button {
  display: block;
  position: static;
  height: $height-nav;
  margin: 0;
  padding: 0 1em;

  font-family: $font-stack !important;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: $color-text;

  background: none;

  border: none;
  outline: none;

  cursor: pointer;

  &.is-active,
  &:hover,
  &:focus,
  &:active {
    background: $color-primary;
  }

  &::before,
  &::after {
    display: none !important;
  }
}

.sg-nav__button--icon {
  padding-left: 0.75em;
  padding-right: 0.75em;

  svg {
    $icon-size: 1.5rem;

    display: block !important;
    position: relative !important;
    width: $icon-size;
    height: $icon-size;
    top: (($height-nav - $icon-size) / 2);
  }
}

/* STYLEGUIDE SUBMENU
 * ====================================================== */

.sg-nav__sub-list {
  all: initial;

  display: none;
  position: absolute;
  width: inherit;
  max-height: calc(100vh - #{$height-nav});
  top: $height-nav;
  margin: 0;
  padding: 0;

  overflow-y: auto;

  background-color: $color-background;

  &.is-active {
    display: block;
  }

  &::before,
  &::after {
    display: none !important;
  }
}

.sg-nav__sub-item {
  all: initial;

  display: block;
  position: static;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    display: none !important;
  }
}

.sg-nav__link {
  all: initial;

  display: block;
  position: static;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0.75em;

  font-family: $font-stack !important;
  font-size: 0.875rem;
  font-weight: 400;
  color: $color-text;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;

  &:visited {
    color: $color-text;
  }

  &.is-active,
  &:hover,
  &:focus,
  &:active {
    color: $color-text;
    background: $color-primary;
    outline: none;
  }

  &::before,
  &::after {
    display: none !important;
  }

  @media (min-width: $screen-xs) {
    padding: 0.5em 1em;
  }
}

/* STYLEGUIDE NAV HIDE BUTTON
 * ================================== */

.sg-nav__hide-btn {
  display: block !important;
  position: fixed;
  z-index: 9999;
  height: $height-nav;
  width: $height-nav;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;

  font-size: 1rem;
  line-height: 1;
  color: $color-text;

  background: $color-background;

  border: none;
  outline: none;

  cursor: pointer;

  will-change: transform;

  &:hover,
  &:focus,
  &:active {
    background: $color-primary;
  }

  &::before,
  &::after {
    display: none !important;
  }
}

.sg-nav__hide-btn-icon {
  position: static;
  fill: currentColor;
  height: 1em;
  font-size: 1.75em;
}

.sg-nav__hide-btn-icon--show {
  display: none;

  .is-active & {
    display: inline;
  }
}

.sg-nav__hide-btn-icon--close {
  .is-active & {
    display: none;
  }
}

/* DOCS HEADER
 * ====================================================== */

.sg-header {
  all: initial;

  display: block;
  box-sizing: border-box;
  max-width: $screen-lg;
  margin: 2rem auto;
  padding: 1rem;

  border-bottom: 0.0625rem solid rgba($color-background, 0.3);

  &::before,
  &::after {
    display: none !important;
  }

  @media (min-width: $screen-xs) {
    margin: 3rem auto;
    padding: 2rem;
  }
}

.sg-header__title {
  all: initial;

  @include viewport-font-size(1.5rem, 3rem);

  display: block;
  margin: 0;

  font-family: $font-stack !important;
  font-weight: 300;
  color: $color-primary;

  &::before,
  &::after {
    display: none !important;
  }
}

/* DOCS BODY
 * ====================================================== */

.sg-body {
  display: block;
  max-width: $screen-lg;
  margin: 0 auto;

  &::before,
  &::after {
    display: none !important;
  }
}

/* DOCS ARTICLE
 * ====================================================== */

.sg-article {
  display: block;
  margin: 0 0 2rem;

  &::before,
  &::after {
    display: none !important;
  }

  @media (min-width: $screen-xs) {
    margin-bottom: 0 0 3rem;
  }
}

.sg-article__header {
  all: initial;

  display: block;
  padding: 0 1rem 1rem;

  &::before,
  &::after {
    display: none !important;
  }

  @media (min-width: $screen-xs) {
    padding: 0 2rem 2rem;
  }
}

.sg-article__title {
  all: initial;

  @include viewport-font-size(1.25rem, 1.5rem);

  display: block;
  margin: 0 0 0.5em;
  padding: 3rem 0 0;

  font-family: $font-stack !important;
  font-weight: 300;
  color: $color-primary;

  &::before,
  &::after {
    display: none !important;
  }

  @media (min-width: $screen-xs) {
    position: relative;
    padding: 4rem 0 0;
  }
}

.sg-article__title-id-link {
  vertical-align: top;

  font-size: 0.8em;
  text-decoration: none;
  color: $color-secondary;

  &:hover,
  &:focus {
    color: $color-primary;
  }
  @media (min-width: $screen-xs) {
    position: absolute;
    left: -1em;
  }
}

.sg-article__description {
  all: initial;

  @include viewport-font-size(0.875rem, 1rem);

  display: block;
  margin: 0 0 0.625em;
  padding: 0;

  font-family: $font-stack !important;
  font-weight: 400;
  color: $color-secondary;

  &::before,
  &::after {
    display: none !important;
  }
}

.sg-article__body {
  display: block;
  margin: 0;
  padding: 1rem;

  outline: 0.0625rem solid rgba($color-background, 0.3);

  &::before,
  &::after {
    content: '';

    display: table;
    margin: 0;
    padding: 0;
    height: 0;

    clear: both;
  }

  @media (min-width: $screen-xs) {
    padding: 2rem;
  }
}

.sg-article__body--bg {
  outline: none;
}

.sg-article__body--padding-none {
  padding: 0;
}

/* STYLEGUIDE IFRAME
 * ================================== */

.sg-iframe {
  all: initial;

  display: block;
  width: 100%;

  border: none;

  &::before,
  &::after {
    display: none !important;
  }
}
