/* STYLEGUIDE CSS
 *
 * Styles specific to the Styleguide navigation and
 * components title and containers.
 * ========================================================================== */

// VARIABLES
// =========================================================

// Breakpoints
$screen-xs:  36rem; // 576px
$screen-lg:  85rem; // 1360px

// Heights
$height-nav: 2rem; // 32px

// Colors
$color-primary: rgb(0, 120, 255) !default;
$color-secondary: rgb(50, 50, 50) !default;
$color-text: rgb(255, 255, 255) !default;
$color-background: rgb(50, 50, 50) !default;

// System Font Stack
$font-stack: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;

// MIXINS
// =========================================================

@import "css/sg-mixins.scss";

// COMPONENTS
// =========================================================

@import "css/sg-article";
@import "css/sg-body";
@import "css/sg-footer";
@import "css/sg-header";
@import "css/sg-nav";
@import "css/sg-scaffolding";
