.container {
  @media (min-width: $breakpoint-layout) {
    display: grid;
    grid-template: 100vh / 16rem 1fr;
  }
}

.container__sidebar {
  @media (min-width: $breakpoint-layout) {
    overflow-y: auto;
    border-right: 1px solid var(--color-border, $color-border);
  }
}

.container__main {
  @media (min-width: $breakpoint-layout) {
    display: grid;
    grid-template-rows: min-content minmax(60vh, 1fr) minmax(auto, max-content);
  }
}
