.container {
  display: grid;
  height: 100vh;
  grid-gap: 8px;
  grid-template:
    min-content 3fr 2fr /
    16rem 1fr;
  grid-template-areas:
    "nav header"
    "nav content-1"
    "nav content-2";
}
