.nav__list {
  list-style: none;

  margin: 0 0 0.5em;
  padding: 0;

  & & {
    margin-left: $padding;

    @supports (--foo: bar) {
      margin-left: 0;
    }
  }
}

.nav__text {
  display: block;
  padding: 0.5rem $padding;

  @supports (--foo: bar) {
    padding-left: calc(#{$padding} * var(--depth, 1));
  }
}

.nav__text--title {
  font-size: 0.85em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.nav__text--link {
  text-decoration: none;

  &:hover,
  &:focus,
  &.is-active {
    background-color: var(--color-background-highlight, $color-background-highlight);
  }
}
