* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family, $font-family);
  background: var(--color-background, $color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-weight: 600;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  color: var(--color-theme, $color-theme);
}
