* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family, $font-family);
  background: var(--color-background, $color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;

  font-weight: 600;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.1em;
}

p {
  margin: 0 0 1em;
}

a {
  color: var(--color-theme, $color-theme);
}
