$breakpoint-layout: 60rem;
$padding: 1rem;

// Themable colors and properties

$color-theme: rgb(204, 91, 24);

// Non-themable colors and properties
// The colors will be set depending on the dark mode setting.

$color-background: rgb(255, 255, 255);
$color-background-active: rgb(226, 226, 226);
$color-background-aside: rgb(245, 245, 245);
$color-border: rgb(220, 220, 220);
$color-text: rgb(10, 10, 10);
$color-link: rgb(100, 149, 237);

:root {
  --color-background: #{$color-background};
  --color-background-active: #{$color-background-active};
  --color-background-aside: #{$color-background-aside};
  --color-border: #{$color-border};
  --color-text: #{$color-text};
}

$color-background-dark: rgb(40, 40, 40);
$color-background-active-dark: rgb(40, 40, 40);
$color-background-aside-dark: rgb(20, 20, 20);
$color-border-dark: rgb(70, 70, 70);
$color-text-dark: rgb(200, 200, 200);

.has-dark-mode {
  --color-background: #{$color-background-dark};
  --color-background-active: #{$color-background-active-dark};
  --color-background-aside: #{$color-background-aside-dark};
  --color-border: #{$color-border-dark};
  --color-text: #{$color-text-dark};
}
