{% set pageTitle = "Some Subpage" %}
{% set pageDescription = "Every page may have a short description." %}

{% extends "../../layouts/prototypes.njk" %}

{% block body %}

  <h1>{{ pageTitle }}</h1>
  <p>Prototypes can be organized with subfolders.</p>

{% endblock %}
