{% set title = "Better than Default" %}
{% set description = "This component is actually better than the default one!" %}

{% extends sgSection %}

{% block body %}
  But it doesn't contain a lot of stuff.
{% endblock %}
