---
title: Example Component
description: This is a short description for the component.
category: Components
---
{{#extend "layouts/components"}}
{{#content "body"}}

  {{#embed "styleguide/article" title="Documentation file for a component" description="You can wrap components or variations thereof in awesome boxes with headings and descriptions."}}
  {{#content "body"}}
    <p>You can develop your component in this file. But it is recommended to build them as partials for reusability of your code.</p>

    <p>Partials will be loaded from the <code>src/html/partials</code> folder. Component partials should be placed in <code>src/html/partials/includes</code>.</p>

    {{> "includes/example"}}
  {{/content}}
  {{/embed}}


  {{#embed "styleguide/article" title="A variation with light background" description="This can have a description aswell." background="lightgrey"}}
  {{#content "body"}}
    <p>If you develop components which shall be placed on colored backgrounds, you can add a specific class to the component frame markup.</p>
  {{/content}}
  {{/embed}}


  {{#embed "styleguide/article" title="A variation with dark background" description="This can have a description aswell." background="grey"}}
  {{#content "body"}}
    <p>If you develop components which shall be placed on colored backgrounds, you can add a specific class to the component frame markup.</p>
  {{/content}}
  {{/embed}}

{{/content}}
{{/extend}}
