---
title: Forms
description: Users input things.
category: Components
---
{{#extend "layouts/components"}}
{{#content "body"}}

  {{#embed "styleguide/article" title="Buttons"}}
  {{#content "body"}}
    <button>Button</button>
    <button disabled>Button (disabled)</button>
    <input type="submit" value="Input">
    <input type="submit" value="Input (disabled)" disabled>
    <a href="#">Link</a>
  {{/content}}
  {{/embed}}

  {{#embed "styleguide/article" title="Text Inputs"}}
  {{#content "body"}}
    <label for="text">Text input</label>
    <input type="text" id="text" placeholder="Text">

    <label for="text-disabled">Text input (disabled)</label>
    <input type="text" id="text-disabled" placeholder="Text (disabled)" disabled>

    <label for="email">E-mail input</label>
    <input type="email" id="email" placeholder="E-mail">

    <label for="password">Password input</label>
    <input type="password" id="password" placeholder="Password">

    <label for="search">Search input</label>
    <input type="search" id="search" placeholder="Search">

    <label for="url">URL input</label>
    <input type="url" id="url" placeholder="URL">
  {{/content}}
  {{/embed}}

  {{#embed "styleguide/article" title="Numeric Inputs"}}
  {{#content "body"}}
    <label for="tel">Telephone input</label>
    <input type="tel" id="tel" placeholder="Telephone">

    <label for="number">Number input</label>
    <input type="number" id="number" placeholder="7">

    <label for="date">Date input</label>
    <input type="date" id="date">

    <label for="time">Time input</label>
    <input type="time" id="time">
  {{/content}}
  {{/embed}}

  {{#embed "styleguide/article" title="Checkbox"}}
  {{#content "body"}}
    <label>
      <input type="checkbox">
      <span>Checkbox #1</span>
    </label>

    <label>
      <input type="checkbox" checked>
      <span>Checkbox #2 (checked)</span>
    </label>

    <label>
      <input type="checkbox" disabled>
      <span>Checkbox #3 (disabled)</span>
    </label>

    <label>
      <input type="checkbox" checked disabled>
      <span>Checkbox #4 (checked and disabled)</span>
    </label>
  {{/content}}
  {{/embed}}

  {{#embed "styleguide/article" title="Radio"}}
  {{#content "body"}}
    <label>
      <input type="radio" name="radio">
      <span>Radio #1</span>
    </label>

    <label>
      <input type="radio" name="radio" checked>
      <span>Radio #2 (checked)</span>
    </label>

    <label>
      <input type="radio" name="radio" disabled>
      <span>Radio #3 (disabled)</span>
    </label>

    <label>
      <input type="radio" name="radio2" checked disabled>
      <span>Radio #4 (checked and disabled)</span>
    </label>
  {{/content}}
  {{/embed}}

  {{#embed "styleguide/article" title="Select"}}
  {{#content "body"}}
    <label for="select">Select</label>
    <select id="select">
      <option value="select-1">Option 1</option>
      <option value="select-2">Option 2</option>
      <option value="select-3">Option 3</option>
      <option value="select-4">Option 4</option>
    </select>

    <label for="select2">Select (disabled)</label>
    <select id="select2" disabled>
      <option value="select-1">Option 1</option>
      <option value="select-2">Option 2</option>
      <option value="select-3">Option 3</option>
      <option value="select-4">Option 4</option>
    </select>
  {{/content}}
  {{/embed}}

  {{#embed "styleguide/article" title="Textarea"}}
  {{#content "body"}}
    <label for="textarea">Textarea</label>
    <textarea id="textarea" placeholder="Textarea"></textarea>

    <label for="textarea-disabled">Textarea (disabled)</label>
    <textarea id="textarea-disabled" placeholder="Textarea (disabled)" disabled></textarea>
  {{/content}}
  {{/embed}}

{{/content}}
{{/extend}}
