<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {%- if pageDescription %}
    <meta name="description" content="{{ pageDescription }}">
  {% endif %}
  {%- if pageTitle %}
    <title>{{ pageTitle }}</title>
  {% endif %}

    <link rel="stylesheet" href="{{ meta.path.toRoot }}css/styles.css">
  {%- if (meta.env === 'development') %}
    <link rel="stylesheet" href="{{ meta.path.toRoot }}css/sg.css">
  {%- endif %}

  {%- if (meta.env === 'development') %}
    <script defer src="{{ meta.path.toRoot }}js/sg.js"></script>
  {%- endif %}
    <script defer src="{{ meta.path.toRoot }}js/scripts.js"></script>

    {%- block head %}{% endblock %}
  </head>
  <body>
    {%- if (meta.env) === 'development' %}
      {% include sgNav %}
    {%- endif %}

    {%- block body %}{% endblock %}

    {%- block foot %}{% endblock %}
  </body>
</html>
