// STYLEGUIDE SASS FILE
//
// Some styles for development
// =============================================================================




// Variables
// =====================================


// Breakpoints
$screen-sm: 800px;
$screen-lg: 1400px;

$padding:    30px;
$padding-xs: ($padding / 3);
$padding-sm: ($padding / 2);
$padding-lg: ($padding * 2);
$padding-xl: ($padding * 3);

// Colors
$color-primary:   rgb(0, 100, 200);
$color-secondary: rgb(100, 100, 100);
$color-text:      rgb(255, 255, 255);
$color-border:    rgb(220, 220, 220);

// Transition and Animation speed
$speed-menu:     0.2s;
$speed-menu-btn: 0.2s;




// Docs Nav
// =====================================


.sg-nav {
  position: fixed;
  top: 0;
  transform: translate3d(-100%, 0, 0);
  height: 100%;
  transition: transform $speed-menu ease;
  z-index: 9999;

  &.sg-nav--open {
    transform: translate3d(0, 0, 0);
    transition: transform $speed-menu ease;
  }
}

  .sg-nav__btn {
    position: absolute;
    right: -50px;
    width: 50px;
    height: 50px;
    background-color: $color-primary;
    border: none;

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus,
    .sg-nav--open & {
      background-color: darken($color-primary, 15%);
    }
  }

    .sg-nav__icon {
      position: relative;
      display: block;
      width:  75%;
      height: 2px;
      margin: auto;
      background-color: $color-text;
      transition: background-color 0s linear ($speed-menu / 2);

      &::before,
      &::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-text;
        content: " ";
      }

      &::before {
        bottom: 8px;
        transition: bottom $speed-menu-btn linear ($speed-menu / 2),
                    transform $speed-menu-btn linear;
      }

      &::after {
        top: 8px;
        transition: top $speed-menu-btn linear ($speed-menu / 2),
                    transform $speed-menu-btn linear;
      }

      .sg-nav--open & {
        background-color: transparent;

        &::before {
          bottom: 0;
          transform: rotate(45deg);
          transition: bottom $speed-menu-btn linear,
                      transform $speed-menu-btn linear ($speed-menu / 2);
        }

        &::after {
          top: 0;
          transform: rotate(-45deg);
          transition: top $speed-menu-btn linear,
                      transform $speed-menu-btn linear ($speed-menu / 2);
        }
      }
    }

  .sg-nav__list {
    height: 100%;
    margin: -$padding 0;
    padding: 0;
    background: darken($color-primary, 15%);
  }

    .sg-nav__title {
      display: block;
      margin: $padding 0 0;
      padding: 0 $padding;
      border-bottom: 1px solid $color-primary;
      font-size: 80%;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 50px;
      text-transform: uppercase;
      color: lighten($color-primary, 30%);
    }

    .sg-nav__link {
      display: block;
      padding: $padding-xs $padding;
      text-decoration: none;
      color: $color-text;

      &:hover,
      &:focus {
        background-color: $color-primary;
      }
    }




// Docs Header
// =====================================


.sg-header {
  max-width: $screen-lg;
  margin: $padding-sm auto $padding-lg;
  padding: $padding-sm;
  border-bottom: 1px solid $color-border;
  text-align: center;

  @media (min-width: $screen-sm) {
    margin: $padding auto $padding-xl;
    padding: $padding;
  }
}

  .sg-header__title {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 100;
    color: $color-primary;

    @media (min-width: $screen-sm) {
      margin: 0 0 15px;
      font-size: 36px;
    }
  }

  .sg-header__description {
    margin: 0;
    font-size: 14px;
    font-weight: 100;
    color: $color-secondary;

    @media (min-width: $screen-sm) {
      font-size: 18px;
    }
  }




// Docs Body
// =====================================


.sg-body {
  max-width: $screen-lg;
  margin: 0 auto;
}




// Docs Article
// =====================================


.sg-article {
  margin-bottom: $padding-lg;

  @media (min-width: $screen-sm) {
    margin-bottom: $padding-xl;
  }
}

  .sg-article__header {
    padding: $padding-sm;

    @media (min-width: $screen-sm) {
      padding: $padding;
    }
  }

    .sg-article__title {
      margin: 0 0 10px;
      font-size: 20px;
      font-weight: 100;
      color: $color-primary;

      @media (min-width: $screen-sm) {
        font-size: 24px;
      }
    }

    .sg-article__description {
      margin: 0 0 10px;
      font-size: 14px;
      font-weight: 100;
      color: $color-secondary;

      @media (min-width: $screen-sm) {
        font-size: 16px;
      }
    }

  .sg-article__body {
    padding: $padding-sm;
    border-top:    1px solid $color-border;
    border-bottom: 1px solid $color-border;

    &::after {
      content: ' ';
      display: table;
      clear: both;
      line-height: 0;
    }

    @media (min-width: $screen-sm) {
      padding: $padding;
    }

    @media (min-width: $screen-lg) {
      border: 1px solid $color-border;
    }
  }

  .sg-article__body--dark {
    background-color: $color-secondary;
  }
