/* STYLEGUIDE CSS
 *
 * Styles specific to the Styleguide navigation and
 * components title and containers.
 * ========================================================================== */



// VARIABLES
// =========================================================

// Breakpoints
$screen-sm:  50em; // 800px
$screen-lg:  85em; // 1360px

// Heights
$height-nav: 2.5em; // 40px

// Padding
$padding:    2em;
$padding-xs: ($padding / 3);
$padding-sm: ($padding / 2);
$padding-lg: ($padding * 2);
$padding-xl: ($padding * 3);

// Colors
$color-blue:       rgb(0, 100, 200);
$color-light-blue: lighten($color-blue, 20%);
$color-gray:       rgb(100, 100, 100);
$color-alto:       rgb(220, 220, 220);

/* System UI Font Stack
 * Source:
 * https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
$font-stack: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;



/* STYLEGUIDE NAVIGATION
 * ====================================================== */

.sg-nav {
  display: block;
  box-sizing: border-box;
  height: $height-nav; // 40px
  margin: 0;
  padding: 0;

  font-family: $font-stack;
  font-size: 1rem; // 16px

  &::before,
  &::after {
    display: none;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  &.is-hidden {
    height: 0;
  }

  code {
    display: inline;
    margin: 0;
    padding: 0 0.2em;

    font-size: 1em;
    font-family: monospace, monospace;
    color: #fff;

    background: $color-gray;
  }
}



/* STYLEGUIDE NAV LIST
 * ================================== */

.sg-nav__list {
  display: flex;
  position: fixed;
  z-index: 9999;
  height: $height-nav; // 40px
  top: 0;
  right: $height-nav; // 40px
  left: 0;
  margin: 0;
  padding: 0;

  background-color: $color-gray;

  will-change: transform;

  &::before,
  &::after {
    display: none;
  }

  .is-hidden & {
    display: none;
  }
}



/* STYLEGUIDE NAV ITEM
 * ================================== */

.sg-nav__item {
  display: block !important;
  height: $height-nav; // 40px
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    display: none;
  }
}



/* STYLEGUIDE NAV BUTTON
 * ================================== */

.sg-nav__button {
  display: block;
  height: $height-nav;
  margin: 0;
  padding: 0 0.75em; // 0 12px

  font-size: 1em; // 16px
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;

  background: none;

  border: none;
  outline: none;

  cursor: pointer;

  &.is-active,
  &:hover,
  &:focus,
  &:active {
    background: $color-light-blue;
  }

  &::before,
  &::after {
    display: none;
  }

  @media (min-width: $screen-sm) {
    padding: 0 1.25em; // 0 20px
  }
}



/* STYLEGUIDE NAV ICON
 * ================================== */

.sg-nav__icon {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  width: 1.375em; // 22px
  height: 1.375em; // 2px
  margin: 0;
  padding: 0;

  font-size: 1em; // 16px
  font-weight: 700;
  color: $color-gray;

  background-color: #fff;

  border-radius: 50%;

  &::before,
  &::after {
    display: none;
  }
}



/* STYLEGUIDE NAV TEXT
 * ================================== */

.sg-nav__text {
  display: none;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    display: none;
  }

  @media (min-width: $screen-sm) {
    display: inline;
    margin-left: 0.5em; // 8px

    font-size: 1em; // 16px
    letter-spacing: 0.01em; // 0.16px
  }
}



/* STYLEGUIDE NAV SUBLIST
 * ================================== */

.sg-nav__sub-list {
  display: none;
  position: absolute;
  width: inherit;
  top: $height-nav; // 16px
  margin: 0;
  padding: 0;

  background-color: $color-alto;

  &::before,
  &::after {
    display: none;
  }

  &.is-active {
    display: block;
  }
}



/* STYLEGUIDE NAV SUBITEM
 * ================================== */

.sg-nav__sub-item {
  display: block;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    display: none;
  }
}



/* STYLEGUIDE NAV LINK
 * ================================== */

.sg-nav__link {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.7142857142857143em 0.8571428571428571em; // 10px 12px

  font-size: 0.875em; // 14px
  font-weight: 400;
  color: $color-gray;
  text-align: left;
  text-decoration: none;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;

  &:visited {
    color: $color-gray;
  }

  &.is-active,
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: $color-light-blue;
  }

  &::before,
  &::after {
    display: none;
  }

  @media (min-width: $screen-sm) {
    padding: 0.7142857142857143em 1.428571428571429em; // 10px 20px
  }
}



/* STYLEGUIDE NAV HIDE BUTTON
 * ================================== */

.sg-nav__hide-btn {
  display: block !important;
  position: fixed;
  z-index: 9999;
  height: $height-nav; // 40px
  width: $height-nav; // 40px
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;

  font-size: 1em;
  line-height: 1;
  color: #fff;

  background: $color-light-blue;

  border: none;
  outline: none;

  cursor: pointer;

  will-change: transform;

  &:hover,
  &:focus,
  &:active {
    background: $color-blue;
  }

  &::before,
  &::after {
    display: none;
  }
}

.sg-nav__hide-btn-icon {
  fill: currentColor;
  height: 1em; // 28px
  font-size: 1.75em; // 28px
}

.sg-nav__hide-btn-icon--show {
  display: none;

  .is-active & {
    display: inline;
  }
}

.sg-nav__hide-btn-icon--close {
  .is-active & {
    display: none;
  }
}




/* DOCS HEADER
 * ====================================================== */

.sg-header {
  display: block;
  box-sizing: border-box;
  max-width: $screen-lg;
  margin: $padding-sm auto $padding-lg;
  padding: $padding-sm;

  font-size: 1rem; // 16px

  border-bottom: 1px solid $color-alto;

  *, *::before, *::after {
    box-sizing: border-box;
  }

  @media (min-width: $screen-sm) {
    margin: $padding auto $padding-xl;
    padding: $padding;
  }
}



/* STYLEGUIDE HEADER TITLE
 * ================================== */

.sg-header__title {
  display: block;
  margin: 0 0 0.5em;
  padding: 0;

  font-family: $font-stack;
  font-size: 1.5em; // 24px
  font-weight: 300;
  color: $color-blue;

  @media (min-width: $screen-sm) {
    font-size: 3em; // 48px
  }
}



/* STYLEGUIDE HEADER DESCRIPTION
 * ================================== */

.sg-header__description {
  display: block;
  margin: 0;
  padding: 0;

  font-family: $font-stack;
  font-size: 0.875em; // 14px
  font-weight: 400;
  color: $color-gray;

  @media (min-width: $screen-sm) {
    font-size: 1.125em; // 18px
  }
}




/* DOCS BODY
 * ====================================================== */


.sg-body {
  max-width: $screen-lg;
  margin: 0 auto;
}




/* DOCS ARTICLE
 * ====================================================== */


.sg-article {
  margin: 0 0 $padding-lg;

  @media (min-width: $screen-sm) {
    margin-bottom: $padding-xl;
  }
}



/* STYLEGUIDE ARTICLE HEADER
 * ================================== */

.sg-article__header {
  padding: $padding-sm;

  @media (min-width: $screen-sm) {
    padding: $padding;
  }
}



/* STYLEGUIDE ARTICLE TITLE
 * ================================== */

.sg-article__title {
  margin: 0 0 0.5em;
  padding: 0;

  font-family: $font-stack;
  font-size: 1.25em; // 20px
  font-weight: 300;
  color: $color-blue;

  @media (min-width: $screen-sm) {
    font-size: 1.5em; // 24px
  }
}



/* STYLEGUIDE ARTICLE DESCRIPTION
 * ================================== */

.sg-article__description {
  margin: 0 0 0.625em;
  padding: 0;

  font-family: $font-stack;
  font-size: 0.875em; // 14px
  font-weight: 400;
  color: $color-gray;

  @media (min-width: $screen-sm) {
    font-size: 1em;
  }
}



/* STYLEGUIDE ARTICLE BODY
 * ================================== */

.sg-article__body {
  margin: 0;
  padding: $padding-sm;

  outline: 1px solid $color-alto;

  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }

  @media (min-width: $screen-sm) {
    padding: $padding;
  }
}

.sg-article__body--bg {
  outline: none;
}

.sg-article__body--padding-none {
  padding: 0;
}



/* STYLEGUIDE IFRAME
 * ================================== */

.sg-iframe {
  display: block;
  width: 100%;

  border: none;
}
