name: Continuous Integration
on: [push]

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@master
      - name: Set up Node.js
        uses: actions/setup-node@master
        with:
          node-version: 14
      - name: Install dependencies
        run: npm ci
      - name: Lint CSS
        run: npm run lint:css
      - name: Lint JS
        run: npm run lint:js

  test:
    name: Test (Node.js ${{ matrix.node-version }} on ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [12, 14]
        os: [ubuntu-latest, macOS-latest]
    steps:
      - name: Check out repository
        uses: actions/checkout@master
      - name: Set up Node.js
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          for directory in . ui test/project
          do
            (cd "$directory" && npm ci)
          done
      - name: Run unit tests
        run: npm run test:unit
      - name: Run UI build test
        run: |
          cd ui
          npm run build
      - name: Run project build test
        run: |
          cd test/project
          npm run build
          npm run build:dev
