*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  line-height: 1.4;
  color: var(--color-text, $color-text);

  background: var(--color-background, $color-background);
}

pre,
code {
  color: var(--color-text, $color-text);
  background: var(--color-background-aside, $color-background-aside);
}

pre {
  margin: 0 0 1em;
  padding: 1em;
  overflow: auto;
}

code {
  padding: 0 0.25em;
  box-decoration-break: clone;

  pre & {
    padding: 0;
  }

  // stylelint-disable-next-line selector-no-qualifying-type
  pre &[class*="language-"] {
    color: var(--color-text, $color-text);
    text-shadow: none;
  }

  .token.operator {
    background: none;
  }
}

.icon {
  vertical-align: middle;
  width: 1em;
  height: 1em;

  fill: currentColor;
}
