---
title: Pangolin
description: Framework for componentized front end development with Nunjucks, Sass, and JavaScript.
template: templates/prototypes.njk
---

<main class="intro">
  <h1>{{ page.title }}</h1>
  <p>{{ page.description }}</p>

  <h2>Site metadata</h2>
  <pre>
{{ site | dump(2) }}
  </pre>

  <h2>Page metadata</h2>
  <pre>
{{ page | dump(2) }}
  </pre>
</main>
